downloads/
build/
packer_cache/
packer/packer_cache/
*.auto.pkrvars.hcl
*.pkrvars.hcl
*.tfvars
*.zip
*.qcow2
*.vmdk
*.vmx
*.ova
*.ovf
*.deb
*.AppImage
*.tar
*.tar.gz
*.tar.xz
*.log
*.pem
*.key
*.pub
manifest.json
__pycache__/
*.py[cod]
.pytest_cache/
